@font-face {
  font-family: "Adeston";
  src: url("fonts/adeston-bw9b8.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

video {
  width: 100%;
}

a {
  z-index: 2;
  font-family: "Adeston";
  font-size: 48px;
}

/* LVHA 순서로 배치되어야 적용됨 */
a:link, a:visited, a:hover, a:active {
  color: white;
}

a.title {
  text-decoration: none !important;
}

a.title:hover {
  text-decoration: none !important;
}


.video-box {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
}

