@font-face {
  font-family: "Adeston";
  src: url("fonts/adeston-bw9b8.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  /* overflow-x: hidden; */
  height: auto;
  width: auto;
  margin: 0;
  background-color:gray;
  font-size: 14px;
}


/* Header */
.header {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 3;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 1rem;
  background-color: rgba(0,0,0,1);
}

.menu {
  width: 1.6rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.hb {
  width: 100%;
  height: 2px;
  background-color: black;
}

.title {
  font-family: 'Adeston';
  font-size: 2rem;
}

.contact {
  width: 2rem;
  height: 2rem;
  background-color: black;
}

.body {
  z-index: 1;
}

.menu-nav {
  z-index: 2;
  width: 25%;
  height: auto;
  background-color: white;
  padding: 1rem 2rem 0 3rem;
}

.menu-nav[status='hidden'] {
  display: none;
}

.menu-nav[status='show'] {
  display: block;
}

.menu-logo {
  text-align: right;
  font-family: 'Adeston';
  font-size: 1.6rem;
  width: auto;
  height: 1.6rem;
  margin-bottom: 3rem;
}

.menu-row {
  width: 100%;
  height: 2rem;
  font-family: 'Adeston';
  font-size: 1.5rem;
  margin-bottom: 3rem;
  cursor: pointer;
}

/* Carousel */
.slide-box {
  width: 1920px;
  height: 800px;
  overflow: hidden;

}

.slide-item {
  width: 1920px;
  height: 800px;
  float: left;
}

.slide-list {
  display: table;
  height: 800px;
}

.phrase-box {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none ;
  pointer-events: none;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.phrase {
  font-family: 'Adeston';
  font-size: 7rem;
  color: darkred;
  letter-spacing: -3px;
  line-height: 130%;
  text-align: center;
  word-wrap: normal;
}