@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@font-face {
  font-family: "Adeston";
  src: url("fonts/adeston-bw9b8.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --web-height: 1080px;
  --web-width: 1920px;
}

:root::-webkit-scrollbar {
  display: none;
}

body {
  /* overflow-x: hidden; */
  margin: 0;
  background-color:white;
  font-size: 14px;
  overflow: hidden;
}

a {
  text-decoration: none !important;
}


/* Header */
.header {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: left;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  color: black;
}

.menu {
  width: 1.6rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.hb {
  width: 100%;
  height: 2px;
  background-color: black;
}

.title {
  font-family: 'Adeston';
  font-size: 2rem;
}

.contact {
  width: auto;
  height: 2rem;
}

.contact a {
  font-family: 'Adeston';
  font-size: 24px;
  text-decoration: none !important;
}

.contact a:link, .contact a:visited, .contact a:hover, .contact a:active {
  color: black;
}

/*
.contact-icon {
  background-color: white;
}
*/

.body {
  z-index: 1;
}

.menu-nav {
  z-index: 4;
  width: 25%;
  height: 100%;
  background-color: white;
  padding: 1rem 2rem 0 3rem;
  float: left;
  position: fixed;
}
.menu-nav[status='hidden'] {
  display: none;
}
.menu-nav[status='show'] {
  display: block;
}
.menu-nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
.menu-logo {
  text-align: right;
  font-family: 'Adeston';
  font-size: 1.6rem;
  width: 50%;
}
.menu-close {
  width: 50%;
}
.menu-close svg {
  height: 24px;
  width: 24px;
  fill: gray;
}
.menu-row {
  width: 100%;
  height: 2rem;
  font-family: 'Adeston';
  font-size: 1.5rem;
  margin-bottom: 3rem;
  cursor: pointer;
  box-sizing: border-box;
  padding-left: 12px;
}
.menu-row a {
  text-decoration: none !important;
}
.menu-row a:link, .menu-row a:visited, .menu-row a:hover, .menu-row a:active {
  color: black;
}

/* Body */
.project-list-container {
  width: 30%;
  height: 100%;
  float: left;
  background-color: white;
  box-sizing: border-box;
  padding: 5%;
  border-right: 1px solid black;
}

.project-row {
  margin: 0 0 2vh 0;
}

.project-name {
  cursor: pointer;
  font-size: 24px;
  font-family: 'Manrope', sans-serif;
}

.project-row a:link, .project-row a:visited{
  color: black;
}

.project-row a:hover {
  color: crimson;
}

.project-title {
  margin: 60px auto;
  text-align: center;
  width: 100%;
  font-size: 36px;
  position: fixed;
}

.swiper {
  height: 70%;
  top: 20%;
  left: 4%;
}

.project-img {
  height: 100%; 
}

.modal[status="hidden"] {
  display: none;
}

.modal[status="visible"] {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-image {
  max-width: 50%;
  height: auto;
  max-height: 70%;
}