<!DOCTYPE html>
<html lang="ko">

  <head>
    {% if title %}
    <title>Photograss - {{ title }}</title>
    {% else %}
    <title>Photograss</title>
    {% endif %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA=Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="{{ url_for('static', filename='css/contact.css') }}" rel="stylesheet">
  </head>

  <body>
    <div class='header'>
      <div class='menu' onclick='slideMenu()' style='cursor:pointer;'>
        <div class='hb'></div>
        <div class='hb'></div>
        <div class='hb'></div>
      </div>
      <div class='title'>
        <span>Lee Dasom / Based in Seoul, South Korea</span>
      </div>
      <div class='contact'>
        <!--<img class='contact-icon' src="{{ url_for('static', filename='image/header/contact.svg') }}"> -->
        <a href="{{ url_for('contact') }}">Contact</a>
      </div>
    </div>
    <!-- <div class='menu-nav' id='menu' status='hidden'>
      <div class='menu-logo'>Photograss</div>
      <div class='menu-row'>snap</div>
      <div class='menu-row'>project</div>
      <div class='menu-row'>commercial</div>
      <div class='menu-row'>photobook</div>
    </div> -->

    <!--
    <div class='slide-box'>
      <div class='slide-list'>
        {% for file in file_list %}
          <div class='slide-item'>
            <img class='slide-img' src="{{ url_for('static', filename='image/carousel/'+file) }}" draggable="false">
          </div>
        {% endfor %}
      </div>
    </div> -->

    <!-- Pagination -->
    <!-- <ul class='slide-pagination'></ul> -->
    <div class='container'>
      <div class='video-box'>
        <video autoplay muted loop >
          <source src="{{ url_for('static', filename='video/contact.mp4') }}" type='video/mp4'>
          <p>Not Available Videos!</p>
        </video>
      </div>
      <div class='phrase-box'>
        <p class='phrase'>How important is living a slow life. Let's walk slowly and get lost. Let's not just look forward but give warm eyes to every corner. Let's give love to everything in the world.</p>
      </div>

      <div class='info-box'>
        <table>
          <tbody>
            <tr>
              <td>Email:</td>
              <td>Ldsohyes@naver.com</td>
            </tr>
            <tr>
              <td>Phone:</td>
              <td>+82)10 4582 5122</td>
            </tr>
            <tr>
              <td>SNS:</td>
              <td><a href="https://www.naver.com">@dayssom_</a> / <a href="https://www.google.com">@photograss_</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/index/script.js') }}"></script>
  </body>

</html>
