<!DOCTYPE html>
<html lang="ko">

  <head>
    {% if title %}
    <title>Photograss - {{ title }}</title>
    {% else %}
    <title>Photograss</title>
    {% endif %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA=Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
  </head>

  <body>
    <div class='video-box'>
      <video autoplay muted loop >
        <source src="{{ url_for('static', filename='video/index.mp4') }}" type='video/mp4'>
        <p>Not Available Videos!</p>
      </video>
    </div>
    <div class='title'>
      <a class='title' href={{ url_for('main') }}>Photograss</a>
    </div>
    <script src="{{ url_for('static', filename='js/index/script.js') }}"></script>
  </body>

</html>
