<!DOCTYPE html>
<html lang="ko">

  <head>
    {% if title %}
    <title>Photograss - {{ title }}</title>
    {% else %}
    <title>Photograss</title>
    {% endif %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA=Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="{{ url_for('static', filename='css/contact.css') }}" rel="stylesheet">
  </head>

  <body>
    <div class='header'>
      <div class='menu' onclick='slideMenu()' style='cursor:pointer;'>
        <div class='hb'></div>
        <div class='hb'></div>
        <div class='hb'></div>
      </div>
      <div class='contact'>
        <!--<img class='contact-icon' src="{{ url_for('static', filename='image/header/contact.svg') }}"> -->
        <a href="{{ url_for('contact') }}">Contact</a>
      </div>
    </div>
    <div class='menu-nav' id='menu' status='hidden'>
      <div class='menu-nav-header'>
        <div class='menu-close' onclick='slideMenu()' style='cursor:pointer;'>
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
            <path d="M0 0h24v24H0V0z" fill="none"/>
            <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/>
          </svg>
        </div>
        <div class='menu-logo'><a href="{{ url_for('main') }}">Photograss</a></div>  
      </div>
      <div class='menu-row'><a href="{{url_for('snap')}}">snap</a></div>
      <div class='menu-row'><a href="{{url_for('project')}}">project</a></div>
      <div class='menu-row'><a href="{{url_for('commercial')}}">commercial</a></div>
      <div class='menu-row'><a href="{{url_for('photobook')}}">photobook</a></div>
    </div>

    <!--
    <div class='slide-box'>
      <div class='slide-list'>
        {% for file in file_list %}
          <div class='slide-item'>
            <img class='slide-img' src="{{ url_for('static', filename='image/carousel/'+file) }}" draggable="false">
          </div>
        {% endfor %}
      </div>
    </div> -->

    <!-- Pagination -->
    <!-- <ul class='slide-pagination'></ul> -->
    <div class='container'>
      <div class='video-box'>
        <video autoplay muted loop >
          <source src="{{ url_for('static', filename='video/contact.mp4') }}" type='video/mp4'>
          <p>Not Available Videos!</p>
        </video>
      </div>
      <div class='phrase-box'>
        <p class='phrase'>How important is living a slow life. Let's walk slowly and get lost. Let's not just look forward but give warm eyes to every corner. Let's give love to everything in the world.</p>
      </div>

      <div class='info-box'>
        <table>
          <tbody>
            <tr>
              <td>Email:</td>
              <td>Ldsohyes@naver.com</td>
            </tr>
            <tr>
              <td>Phone:</td>
              <td>+82)10 4582 5122</td>
            </tr>
            <tr>
              <td>SNS:</td>
              <td><a href="https://www.naver.com">@dayssom_</a> / <a href="https://www.google.com">@photograss_</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/index/script.js') }}"></script>
  </body>

</html>
